.comment-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;

    .item-header {
        .header__user {
            font-size: 20px;
            color: white;
        }

        .header__date {
            font-size: 13px;
            color: white;
        }
    }

    .item-content {
        font-size: 17px;
        padding: 10px;
        color: white;
    }
}
