
.content-field {
  display: flex;
  margin-right: 10%;
  font-family: Century Gothic;
  flex-direction: column;

  .content-field__title {
    font-size: 35px;
    margin: 20px 0;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }

  .content-field__description {
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 0;
  }

  .content-field__list {
    margin: 10px 0;

    .list__item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .item__icon {
        max-width: 8%;
        margin-right: 10px;
      }
    }
  }
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  width: 60%;

  .booking-form__buttons-container {
    display: flex;
    margin: 25px 10px;
  }
}

.book-button {
  width: 100%;
}

.book-button--final {
  margin: 20px;
}

.counter__change-button {
  font-size: 25px;
  padding: 7px;
  cursor: pointer;
  color: #941a1a;
}