@import "./constants.less";

@textTitle: {
    font-weight: 700;
    font-family: Century Gothic;
    text-transform: uppercase;
};

@textStandart: {
    font-family: Century Gothic;
    color: gray;
};

.catalog-container {
    .welcom-block__picture {
        max-width: 100%;
    }

    .catalog-container__welcom-block {
        position: relative;

        .welcom-block__title {
            position: absolute;
            top: 35%;
            left: 25%;
            color: white;
            font-size: 60px;
            width: 50%;
            text-align: center;
            font-family: Didot;
            text-transform: uppercase;

            @media (max-width: @tablet) {
                font-size: 30px;
                top: 45%;
            }
        }
    
        .welcom-block__description {
            position: absolute;
            font-family: Century Gothic;
            line-height: 1.5;
            bottom: 0;
            background: white;
            opacity: 0.6;
            text-align: center;
            padding: 50px 200px;
            font-size: 28px;

            @media (max-width: @desktop) {
                display: none;
            }
        }

    }

    .catalog-container__welcom-block {
        position: relative;
    }
    
    .catalog {
        padding: 100px 0;

        @media (max-width: @tablet) {
            padding: 50px 0;
        }

        .catalog__title {
            font-size: 50px;
            margin: 0px auto 50px;
            width: 45%;
            @textTitle();

            @media (max-width: @tablet) {
                font-size: 30px;
                text-align: center;
                margin: 0px auto 30px;
            }
        }

        .catalog__description {
            font-size: 22px;
            margin: 0px auto 50px;
            width: 58%;
            text-align: center;
            font-family: Century Gothic;
            color: gray;

            @media (max-width: @tablet) {
                font-size: 19px;
                width: 80%;
            }
        }
    }

    .filter-catalog {
        font-size: 67px;
        color: #e2e2e2;
        position: fixed;
        display: fi;
        bottom: 60px;
        left: 20px;

        @media (max-width: @tablet) {
            font-size: 50px;
            color: #392e2d57;
        }
    }
}