.modal-window {
    position: absolute;
    width: 50%;

    opacity: 1;
    font-size: 25px;
    left: 25%;
    box-sizing: border-box;
    padding: 40px 30px;
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.modal-window__error {
    background: #241d1d;
    color: white;
}

.modal-window__success {
    color: #241d1d;
    background: white;
}