.room-main-container {
    display: flex;
    padding: 70px 0 20px 50px;
    box-sizing: content-box;
  }
  .room-main-container .room-main-container__description {
    font-family: Century Gothic;
    font-size: 20px;
    line-height: 1.4;
    margin-right: 50px;
  }
  .room-main-container .room-main-container__picture {
    max-width: 50%;
    position: relative;
    top: -100px;
  }
  .floor-plan {
    padding: 150px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .floor-plan .floor-plan__title {
    flex-basis: 100%;
    text-align: center;
    font-size: 50px;
    font-family: Century Gothic;
    text-transform: uppercase;
    margin-bottom: 70px;
  }
  .floor-plan .floor-plan__picture {
    max-width: 55%;
    flex-basis: 45%;
  }
  .floor-plan .floor-plan__description {
    font-family: Century Gothic;
    padding: 80px 50px;
    text-transform: uppercase;
    color: #525252;
    font-size: 27px;
    flex-basis: 40%;
    line-height: 1.4;
    box-sizing: border-box;
  }
  .floor-plan .floor-plan__rectangle {
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: -1;
  }

  .estimate-contsiner {
    margin: 50px auto;
    max-width: 50%;
    display: flex;
    justify-content: center;

    .estimate-title {
      font-family: Century Gothic;
      font-size: 20px;
      margin-right: 10px;
    }
  }