.main-room-block {
  width: 100%;
  position: relative;

  .main-room-block__description {
    top: 40%;
    left: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    font-family: Didot;
  }
}

.room-main-container {
  display: flex;
  padding: 40px 20px;
  justify-content: space-evenly;

  .room-main-container__description {
    font-family: Century Gothic;
    font-size: 16px;
    width: 38%;
    line-height: 1.4;

    .room-description__title {
      margin: 10px 0;
    }
  }

  .room-main-container__picture {
    max-width: 50%;
  }
}
  .floor-plan {
    padding: 150px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .floor-plan__picture {
    max-width: 55%;
    flex-basis: 45%;
  }

  .floor-plan__description {
    font-family: Century Gothic;
    padding: 80px 50px;
    text-transform: uppercase;
    color: #525252;
    font-size: 27px;
    flex-basis: 40%;
    line-height: 1.4;
    box-sizing: border-box;
  }

  .floor-plan__rectangle {
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: -1;
  }

  .estimate-contsiner {
    margin: 50px auto;
    max-width: 50%;
    display: flex;
    justify-content: center;

    .estimate-title {
      font-family: Century Gothic;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .slider-block {
    width: 80%;
    margin: 50px auto;
  }

  .room-services {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 100px auto 50px;
    justify-content: space-evenly;

    .service-icon {
      max-width: 20%;
      margin: 20px;
    }
  }

.room-article-title {
  flex-basis: 100%;
  text-align: center;
  font-size: 50px;
  font-family: Century Gothic;
  text-transform: uppercase;
  margin-bottom: 70px;
}