.service-card {
    display: flex;
    flex-direction: column;

    .service-card__img {
        width: 100%;
    }

    .service-card__text-block {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 20px;

        .card__title {
            font-size: 25px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .card__description {
            font-size: 17px;
        }
    }
}