footer.footer-block {
    margin: 100px auto 20px;
    width: 200px;
    color: gray;
    text-align: center;
}

.footer-block__title {
    font-size: 22px;
    color: #636363;
}

.footer-block__description {
    margin: 5px 0;
    font-size: 15px;
}

