
.contant-container__item {
    width: 100%;

    .item__first-bg {
        width: 100%;
    }
}

.contant-container__item--second {
    padding: 130px;
    box-sizing: border-box;

    .item__content {
        font-family: Century Gothic;
        font-size: 35px;
        line-height: 1.4;
        margin-bottom: 50px;
    }
}